<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="./css/style.css">
        </script>
    </head>
        <title>404</title>
         
            <body>
                <div id="main-content">
                {{>header}}
                <p>{{errormessage}}</p>
                </div>
                {{>footer}}
            </body>
</html>