<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="/img/weather.png"
        <script src="js/app.js">   
        </script>
    </head>
        <title>About</title>
            <body>
                <div class="main-content">
                    {{>header}}
                <img src='/img/passport.jpg'>
                
                </div>
                {{>footer}}
            </body>
</html>